build*/
.gitignore
.cache
CMakeUserPresets.json
.devcontainer/
compat/config.mk
/.vs
*.log

# Android build artifacts
src/android/frontend/.gradle/
src/android/frontend/app/.cxx/
src/android/frontend/app/build/
src/android/frontend/local.properties
src/android/frontend/build/
